@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,700;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}


.overlay{
    width: 100%;
    background-color: rgba(0,0,0,.8);
    height: 100%;
    position: absolute;
    z-index: 101;
    

}
.overlay .active{
    display: none;
}
.sideBar{
    max-width: 300px;
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 102;
    
    animation: toTranslateSidebar 1s ease-out 0.7s forwards;
    opacity: 0;
}

@keyframes toTranslateSidebar {
    from{
        transform: translateX(-300px);

    }
    to{
        transform: translateX(0);
        opacity: 1;

    }
}

.sidebar .open{
    animation: closeSideBar 1s ease-in-out 0.7s backwards;
}

@keyframes closeSideBar {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-300px);
    }
    
}

.sideBar .sideBar-container{
    

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 50px;

}
.sideBar a{
    
    gap: 10px;

}
.sideBar img{
    width: 112px;
}



.sideBar .menu{
    width: 128.99px;
      display: flex;
    flex-direction: column;

}

.menu a{
    font-size: 15px;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #111827;
    padding: 5px 20px;


}

.menu a:first-child{
    color: #7a0b14;
}

.sideBar-container button{
    /* auto and start because in flex-direction coloumn it was taking full width */
    width: auto;
    align-self: start;
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #7a0b14;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 500;


}


.sideBar-container .sideBar-login{
    background-color: #0A2342;
    margin-top: 10px;

}

header {
 
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
 
  background-color: white;
  position: sticky;
  top:0;
  z-index: 100;
  border-bottom: 1px solid white ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  gap: 20px;
  font-weight: 600;


}

.sideBar-icon img{
    width: 25px;
}

.logo {
  
  cursor: pointer;
  
  width: 30%;
  display: flex;
  align-items: center;
 

}

.logo .nurture-logo {
  
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;

}

.logo img{
    
    width: 31.38px;

}
.logo a {
  color: #7a0b14;
  font-size: 17px;
  width: 300px;
}

.pages {
  width: 55%;
}

.pages ul {
  display: flex;
  
  flex-wrap: wrap;
}

.pages li {

  cursor: pointer;
  list-style: none;
  
  padding: 10px 15px;
  transition: 0.5s;
  font-size: 13px;

}

.pages li:first-child{
    color: #7a0b14;
}

.pages li:hover {
  transform: scale(1.1);
  color: #7a0b14;
}

.admission-login {
  cursor: pointer;
  width: 15%;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: 5s;
  gap: 3px;

}

.admission-login button {
 
  width: 178.17px;
  background-color: #7a0b14;
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  padding: 8px 28px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  font-weight: 500;
}

.admission-login button:hover {
  transform: scale(1.1);
}

.login {
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 12px 24px;
}

.admission-login .login:hover {
  transform: scale(1.1);
}





/* main */
.main{
     width: 100%;
}

/* hero */
.hero {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right , #0A2342 0%, #0a2342ef 12%, transparent 100%), url(assets/nurture-clg-bg.png);

  background-size: cover;
  background-position: 75%;
  background-repeat: no-repeat;
  position: relative;
  


}

.container{
  
  position:absolute;
  top: 10%;
  width: 100%;
  max-width: 100%;
  padding-left: 10rem;
  box-sizing: border-box;
  /* padding-top: 12rem;     */
}


body, .container {
    overflow-x: hidden; 
    /* Prevents horizontal scroll */
}
.container h2{
  font-family: "Nanum Myeongjo", serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    animation: totranslateh2 1s ease-out 0.5s forwards;

}

@keyframes totranslateh2 {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}



.container .line{
    border-bottom: 1px solid rgba(253, 247, 247, 0.993);
    width: 445px;
    margin: 16px 0 12px 0;
}

.container p{
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    animation: totransltep 1s ease-out;
}

@keyframes totransltep {
    from{
        transform: translateY(10px);
        visibility: hidden;

    }
    to{
        transform: translateY(0);
        visibility: visible;
    }
}


.container .dare{
    font-family: "Nanum Myeongjo", serif;
    font-size: 40px;
    font-weight: 600;
    color: #c8a870;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
        visibility: hidden;

    animation: toTranslateDare 1s ease-out 0.5s forwards;
}

@keyframes  toTranslateDare {
        from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}


.container .buttons{
    margin-top: 2rem;
    font-family: "Montserrat", Sans-serif;  
    animation: toTranslteButtons 1.5s ease-out;
    
}

@keyframes toTranslteButtons {
     from{
        transform: translateY(20px);
        opacity: 0;
     }
    to{
        transform: translateY(0);
        opacity: 1;         

    }
}

.buttons .job{
    background-color: #7a0b14;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 15px;
    transition: 0.2s;
    cursor: pointer;
    padding: 12px 24px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.buttons .job:hover{
    transform: scale(1.1);
}

.buttons .booking{
    background-color: #0a2342;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    padding: 12px 24px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.buttons .booking:hover{
    transform: scale(1.1);
}

.list{
    width: 50rem;
    margin-top: 2rem;
    visibility: hidden;
    animation: toTranslateList 1s ease-out 0.7s forwards;

}

@keyframes toTranslateList {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}

.container .list ul{
    display: flex;

}

.container .list li{
   list-style: none;
   color: white;
    font-size: 0.9rem;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 400;


}

.container .fa-solid{
    margin-right:  5px;
}

.vline{
    border-left: 1px solid rgba(255, 255, 255, 0.998);
    margin:0 10px; 

  
}


/* academic program & why nurture */

.section{
    margin-top: 2rem  ;
    
    
}

.academic{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    
}

.academic h2{

    color: #7a0b14;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;

}

.hline{
    border-bottom: 1px solid #7a0b14;
    width: 4rem;
    margin: 0 1rem;
}

.section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

 .card{
    width:265px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 12px 12px rgba(99, 99, 99, 0.5);
}

 .cards .card img{
    width: 265px;
    border-radius: 10px 10px 0 0;
}

.card .text{
    text-align: center;
    
}

.card .title{
  color: #7a0b14;
  margin: 0.4rem;
  font-size: 20px;
  font-weight: 500;
}

.card .text button{
  padding: 12px 30px;
  text-align: center;
  font-family: 700;
  border: none;
  border-radius: 3px;
  background-color: #7a0b14;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-block: 20px;
  cursor: pointer;
  transition: 0.2s;

}

.card .text button:hover{
    transform: scale(1.1);
}

@media (max-width:1024px) {
    
   /* logo */
.pages{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        /* margin-left: 90px; */

    }

    .logo a{
        display: none;
    }
    .logo img{
        width: 69.27px;
        align-items: center;
    }
    .admission-login{
        width: 10%;
    }
    .admission-login button{
        display: none;
    }
    .nurture-logo{

    }
    /* hero */
    
    .container{
        top: 28%;
        padding-left: 70px;

    }
    .container h2{
        font-size: 30px;
    }
    .container p{
        font-size: 15px;
    }
    .container .dare{
        font-size: 30px;
    }
    .container .job{
        padding: 10px 22px;
    }
    .container .booking{
        padding: 10px 22px;
    }
    .container .list li{
        font-size: 8px;
    }
    /* cards */
    .card{
        width: 45vw;
    }
    .cards .card img{
        width: 45vw;
    }
    .section .cards{
        flex-wrap: wrap;

}
    .hline{
        visibility: hidden;
    }
     .academic h2{
        font-size: 20px;
    }
    /* admission-open */
    .admission-open .separator{
        width: 30vw;
    }
   
}

@media (max-width:767px) {
    .sideBar{
        max-width: 250px;
    }
    .sideBar img{
        width: 92px;
    }
    /* header */
    .logo img{
        width: 57px;
    }
    /* main */
    /* hero */
    .hero{
        background-position: center 100%;
    }
    .container{
        top:38%;
        padding-left: 20px;

    }
    .container h2{
        font-size: 15px;
    }
    .container p{
        font-size: 8px;
    }
    .container .line{
        width: 50vw;
    }
    .container .dare{
        font-size: 16px;
    }
    .container .list{
        display: none;
    }
    /* cards */

    .card .text button{
        display: none;
    }
    .card .title{
        font-size: 15px;
    }
   

}

@media (min-width:1050px) {
    .sideBar{
        display: none;
    }
    .overlay{
        display: none;
    }
    /* header */

    .sideBar-icon{
        display: none;
    }
    /* hero */
      
    .container{
        padding-left: 10px;
    }
 
}

/* why nurture */

.why-nurture-section{
    margin-top: 2rem  ;
}
.why-nurture-section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.why-nurture-card{
    width: 265px;

}
.cards .why-nurture-card img{
    width: 265px;
    border-radius: 10px 10px 0 0;

}

.why-nurture-card h3{
    font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width:1024px) {

   .why-nurture-section .cards {
        flex-wrap: wrap;
}
.why-nurture-card{
    width: 45vw;

}
.cards .why-nurture-card img{
    width: 45vw;
}
}


/* campus preview */
.campus-section{
    margin-top: 2rem  
}

.campus-section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.campus-card{
    width: 265px;
    
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);

}

.campus-card img{
    width: 265px;
    border-radius: 10px 10px 0 0
}

.campus-card .text{
    text-align: center;
    margin: 10px;
}

.campus-card .title{
    font-family: "Montserrat", Sans-serif ;
    color: #7a0b14;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:1050px) {

    .campus-section .cards{
        flex-wrap: wrap;
}
.campus-card{
    width: 45vw;
}
.campus-card img{
    width: 45vw;
}
}

@media (max-width:767px) {
    .campus-card .title{
        font-size: 15px;
    }
}

/* admission open */

.admission-open{
    min-height: 9vh;
    width: 100%;
    background-color: #7a0b14;
    margin:60px 0 40px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.separator{
    border-bottom: 1px solid rgba(253, 247, 247, 0.993);
    width: 395px;
    margin: 0 20px;

}

.admission-open h2{
    font-family: "Nanum Myeongjo", serif;
    font-size:20px;
    color: white;
    font-weight: 600;
}


/* footer */
footer{
    font-family: "Montserrat", Sans-serif ;
    font-weight: 500;
    width: 100%;
    background-color: #7a0b14;
    color: white;

}

.footer-info{
    display: flex;
    justify-content: center;
 
    column-gap: 40px;

}

.links{
    margin:  40px 10px;
}
.links li{
    list-style: none;
}
.links h2{
    font-size: 15px;
}

.link-separator{
   border-bottom: 1px solid white;
   width:200px;
   margin: 10px 0;
}

.link-items{
    margin-top: 20px;
    font-size: 16px;
}

.link-items li a{
    text-decoration: none;
    color: white;
}

.items{
    margin-bottom: 10px;
}

.contact{
    margin: 40px 10px;

}

.contact h2{
    font-size: 15px;

}

.contact-separator{
   border-bottom: 1px solid white;
   width:300px;
   margin: 10px 0;
   margin-bottom: 20px;
}

footer .contact-item{
    display: flex;
}

.icons{
    margin-bottom: 10px;
}

.icon{
    margin-right: 10px;
}

.social-media{
    margin: 40px 10px;

}

.social-media h2{ 
    font-size: 15px;

}

.social-media .link-separator{
    margin-bottom: 20px;
}

@media (max-width:780px) {
     .footer-info{
        flex-direction: column;
        column-gap: 0;
        margin: 0 10px;

    }
    .link-separator{
     width: 100%;

    }
    .contact-separator{
        width: 100%;
    }
    .separator{
        display: none;
    }

}